<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Serviço Feito</title>
<link rel="stylesheet" href="css/home.css">
</head>
<body>
	<header class="superior">
		<h1><img class="logotipo" src="imagens/logo.jpg" alt="Serviço Feito"></h1>
		<nav class="menu-navegacao">
			<ul>
				<li><a href="/index"><button>Inicio</button></a></li>
				<li><a href="/login"><button>Login</button></a></li>
				<li><a href="/registro"><button>Registro</button></a></li>
				<li><a href="/servicos"><button>Serviços</button></a></li>
			</ul>
		</nav>
	</header>
	<section class="container">
		<div class="bemvindo">
			<h2>Bem vindo ao Serviço Feito</h2>
		</div>
		<div class="">
		</div>
	</section>
	<footer class="">
		<div>
			
		</div>
	</footer>
</body>
</html>